* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Goldman', cursive;
    background-color: cornflowerblue;    
}


.container {
    padding: 0 10px;
}

.title {
    font-size: 5rem;
    color: blueviolet;
    text-align: center;
    margin: 20px;
}

.info {
    /* border: 1px dashed white; */
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

input {
    margin-bottom: 25px;
}

input[type="text"] {
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}

.box {
    height: 100px;
    width: 100%;
    background-color: coral;
    margin-bottom: 25px;
    border-radius: 10px;
}

.color {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 50%;
}

.outputColors {
    display: flex;
    justify-content: space-evenly;
}

.outputColors1 {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
}